.ccsticky-nav {
  width: 100%;
  height: 60px; 
  position: fixed; 
  top: 0;
  background: #139ed8;
  }
  
  .ccsticky-nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  }
  
  .ccsticky-nav ul li {
  display: inline-block;
  margin: 0 10px;
  }
  
  .ccsticky-nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
  }
  
  .ccsticky-nav ul li a:hover {
  color: #34495E;
  }
  
  section {
  width: 100%;
  padding: 50px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 1024px;
  text-align: center;
  margin-top: 60px;
  }

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgb(0, 0, 0);
}

.logo {
  max-width: 5rem;
  border: 0;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  background-color: black ;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.abrir,
.cerrar {
  display: none;
  border: 0;
  font-size: 1.25rem;
  cursor: pointer;
}

body {
  text-align: center;
  font-family: sans-serif;
}
.showroom {
  height: 60vh !important;
  background: url(https://images.unsplash.com/photo-1699972551268-05491ecac3fc?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cm95YWwlMjBlbmZpZWxkJTIwaGltYWxheWFufGVufDB8fDB8fHww)
    no-repeat center;
  background-size: cover;
}
.title-i {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  align-content: center;
}
p {
  margin-bottom: 40px;
  font-size: 18px;
  align-content: center;
}
.btn-home {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-top: 1px;
  padding: 10px 15px;
  border: 0 rosybrown rgb(24, 107, 190);
  text-decoration: nome;
  background: #21a0c7;
  display: inline-block;
}
.content {
  height: 50vh;
}
.bodyx {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
  background-color: #222;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 30px;
  height: 250px;
  background-color: slateblue;
  margin: 10px;
  cursor: pointer;
  transition: width 0.3s ease-in, height 0.3s ease-in;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.hidden:checked + .box {
  width: 500px;
  height: 270px;
}

.hidden {
  display: none;
}

.b1{
  background-image: url('image1.jpg');
}
.b2{
  background-image: url('image2.jpg');
}
.b3{
  background-image: url('image3.jpg');
}
.b4{
  background-image: url('image.jpg');
}